<div class="chinese-stroke-anim" id="chinese-name-strokes">
  <div class="stroke-cards-grid">
    <!-- Character 1: 沙 -->
    <div class="stroke-card" title="Click to replay stroke animation">
      <div class="stroke-card-header">
        <span class="stroke-char">沙</span>
        <span class="stroke-pinyin">Shā</span>
        <span class="stroke-meta">7 strokes</span>
      </div>
      <div class="stroke-svg-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="stroke-char-svg">
          <title>Stroke order for 沙</title>
          <defs>
            <clipPath id="sha-mask-1"><path d="M 234 719 Q 262 694 293 663 Q 308 648 326 649 Q 339 649 344 665 Q 350 681 340 716 Q 328 750 229 774 Q 211 778 204 775 Q 198 771 200 756 Q 204 743 234 719 Z"></path></clipPath>
            <clipPath id="sha-mask-2"><path d="M 144 512 Q 198 455 235 441 Q 250 438 259 453 Q 265 466 262 483 Q 247 525 158 551 Q 157 552 156 552 Q 138 556 129 552 Q 123 551 126 538 Q 127 526 144 512 Z"></path></clipPath>
            <clipPath id="sha-mask-3"><path d="M 138 178 Q 125 175 128 157 Q 140 79 176 59 Q 183 52 194 54 Q 201 55 203 82 Q 213 139 324 403 Q 331 419 331 426 Q 330 436 321 429 Q 305 420 183 224 Q 168 202 138 178 Z"></path></clipPath>
            <clipPath id="sha-mask-4"><path d="M 566 792 Q 602 731 587 467 Q 577 413 593 378 Q 594 375 596 371 Q 606 355 622 364 Q 634 374 635 454 Q 626 532 646 687 Q 647 715 666 753 Q 673 763 661 778 Q 603 823 573 812 Q 560 808 566 792 Z"></path></clipPath>
            <clipPath id="sha-mask-5"><path d="M 447 566 Q 425 508 393 455 Q 372 428 392 388 Q 401 372 421 384 Q 443 400 456 433 Q 474 473 474 509 Q 478 543 471 567 Q 465 576 460 576 Q 451 575 447 566 Z"></path></clipPath>
            <clipPath id="sha-mask-6"><path d="M 764 610 Q 821 576 890 525 Q 912 507 929 506 Q 939 506 945 519 Q 955 535 931 580 Q 913 620 834 634 Q 785 641 758 644 Q 748 648 748 634 Q 751 619 764 610 Z"></path></clipPath>
            <clipPath id="sha-mask-7"><path d="M 718 485 Q 718 305 523 123 Q 511 114 500 104 Q 442 49 302 -40 Q 292 -47 299 -52 Q 308 -56 321 -52 Q 526 17 634 162 Q 695 234 757 360 Q 776 397 802 433 Q 812 443 807 455 Q 800 467 768 490 Q 746 506 734 505 Q 718 502 718 485 Z"></path></clipPath>
          </defs>
          <g class="stroke-grid">
            <rect x="0" y="0" width="500" height="500" rx="6" class="stroke-grid-bg"></rect>
            <line x1="0" y1="250" x2="500" y2="250" class="stroke-grid-line"></line>
            <line x1="250" y1="0" x2="250" y2="500" class="stroke-grid-line"></line>
          </g>
          <g transform="translate(10, 431.875) scale(0.46875, -0.46875)">
            <!-- Radical (氵: 3 strokes) -->
            <path clip-path="url(#sha-mask-1)" class="stroke-path stroke-radical stroke-s1" d="M 126.5 822 L 301 707 L 325 668" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="254.779" stroke-dashoffset="254.779"></path>
            <path clip-path="url(#sha-mask-2)" class="stroke-path stroke-radical stroke-s2" d="M 52.8 598.5 L 223 485 L 240 462" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="233.174" stroke-dashoffset="233.174"></path>
            <path clip-path="url(#sha-mask-3)" class="stroke-path stroke-radical stroke-s3" d="M 223.2 -30 L 177 97 L 175 148 L 324 422" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="498.074" stroke-dashoffset="498.074"></path>
            <!-- Main Component (少: 4 strokes) -->
            <path clip-path="url(#sha-mask-4)" class="stroke-path stroke-stem stroke-s4" d="M 492.8 855.5 L 600 784 L 621 754 L 609 503 L 612 375" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="544.798" stroke-dashoffset="544.798"></path>
            <path clip-path="url(#sha-mask-5)" class="stroke-path stroke-stem stroke-s5" d="M 481.6 662.6 L 441 479 L 408 397" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="276.427" stroke-dashoffset="276.427"></path>
            <path clip-path="url(#sha-mask-6)" class="stroke-path stroke-stem stroke-s6" d="M 668.4 668.7 L 869 587 L 896 567 L 928 524" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="303.8" stroke-dashoffset="303.8"></path>
            <path clip-path="url(#sha-mask-7)" class="stroke-path stroke-stem stroke-s7" d="M 685.8 573.5 L 754 456 L 756 437 L 690 288 L 626 193 L 560 119 L 481 53 L 357 -24 L 305 -47" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="837.393" stroke-dashoffset="837.393"></path>
          </g>
        </svg>
      </div>
    </div>

    <!-- Character 2: 宇 -->
    <div class="stroke-card" title="Click to replay stroke animation">
      <div class="stroke-card-header">
        <span class="stroke-char">宇</span>
        <span class="stroke-pinyin">Yǔ</span>
        <span class="stroke-meta">6 strokes</span>
      </div>
      <div class="stroke-svg-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="stroke-char-svg">
          <title>Stroke order for 宇</title>
          <defs>
            <clipPath id="yu-mask-1"><path d="M 465 797 Q 496 773 529 744 Q 545 731 563 732 Q 576 733 580 748 Q 584 766 573 799 Q 566 821 530 834 Q 446 859 432 851 Q 426 847 429 832 Q 433 819 465 797 Z"></path></clipPath>
            <clipPath id="yu-mask-2"><path d="M 262 643 Q 261 644 261 647 Q 249 671 238 679 Q 219 692 217 667 Q 223 640 188 592 Q 140 541 171 483 Q 186 458 206 484 Q 222 509 235 546 Q 247 585 257 610 C 266 632 266 632 262 643 Z"></path></clipPath>
            <clipPath id="yu-mask-3"><path d="M 257 610 Q 281 598 314 608 Q 438 647 684 674 Q 736 680 753 676 Q 769 663 766 656 Q 766 655 741 583 Q 734 570 741 565 Q 748 561 766 574 Q 820 611 865 624 Q 902 637 901 645 Q 900 655 824 708 Q 799 727 693 706 Q 654 703 366 658 Q 314 649 262 643 C 232 639 228 618 257 610 Z"></path></clipPath>
            <clipPath id="yu-mask-4"><path d="M 518 494 Q 669 524 674 527 Q 684 534 679 544 Q 672 556 642 564 Q 615 570 509 539 Q 433 524 359 517 Q 322 513 348 494 Q 387 470 461 484 Q 468 485 478 486 L 518 494 Z"></path></clipPath>
            <clipPath id="yu-mask-5"><path d="M 508 367 Q 495 366 486 364 Q 347 346 181 327 Q 159 326 175 307 Q 190 292 208 287 Q 230 281 247 286 Q 388 323 512 329 L 562 333 Q 619 337 813 338 Q 834 338 839 347 Q 845 359 828 373 Q 768 418 695 397 Q 637 388 559 374 L 508 367 Z"></path></clipPath>
            <clipPath id="yu-mask-6"><path d="M 478 486 Q 496 459 508 367 L 512 329 Q 519 127 495 67 Q 492 61 488 54 Q 485 47 479 45 Q 467 42 377 71 Q 368 72 366 69 Q 365 65 372 56 Q 436 -2 468 -47 Q 478 -62 487 -60 Q 499 -59 519 -40 Q 564 2 568 84 Q 571 126 562 333 L 559 374 L 547 476 Q 544 479 541 481 Q 528 488 518 494 C 492 509 465 513 478 486 Z"></path></clipPath>
          </defs>
          <g class="stroke-grid">
            <rect x="0" y="0" width="500" height="500" rx="6" class="stroke-grid-bg"></rect>
            <line x1="0" y1="250" x2="500" y2="250" class="stroke-grid-line"></line>
            <line x1="250" y1="0" x2="250" y2="500" class="stroke-grid-line"></line>
          </g>
          <g transform="translate(10, 431.875) scale(0.46875, -0.46875)">
            <!-- Radical (宀: 3 strokes) -->
            <path clip-path="url(#yu-mask-1)" class="stroke-path stroke-radical stroke-s1" d="M 349.3 892 L 532 792 L 562 751" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="259.081" stroke-dashoffset="259.081"></path>
            <path clip-path="url(#yu-mask-2)" class="stroke-path stroke-radical stroke-s2" d="M 194.6 765.2 L 239 640 L 196 543 L 187 488" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="294.675" stroke-dashoffset="294.675"></path>
            <path clip-path="url(#yu-mask-3)" class="stroke-path stroke-radical stroke-s3" d="M 184.6 555.9 L 280 624 L 408 651 L 747 697 L 798 680 L 813 654 L 746 572" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="779.803" stroke-dashoffset="779.803"></path>
            <!-- Main Component (于: 3 strokes) -->
            <path clip-path="url(#yu-mask-4)" class="stroke-path stroke-stem stroke-s4" d="M 253.8 530.5 L 380 500 L 448 504 L 612 539 L 669 538" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="422.653" stroke-dashoffset="422.653"></path>
            <path clip-path="url(#yu-mask-5)" class="stroke-path stroke-stem stroke-s5" d="M 80.3 338.4 L 219 308 L 250 310 L 453 343 L 723 370 L 771 369 L 827 353" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="756.32" stroke-dashoffset="756.32"></path>
            <path clip-path="url(#yu-mask-6)" class="stroke-path stroke-stem stroke-s6" d="M 399.5 536.9 L 513 468 L 520 457 L 531 393 L 539 295 L 540 159 L 530 59 L 511 17 L 492 0 L 373 64" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="752.293" stroke-dashoffset="752.293"></path>
          </g>
        </svg>
      </div>
    </div>

    <!-- Character 3: 仁 -->
    <div class="stroke-card" title="Click to replay stroke animation">
      <div class="stroke-card-header">
        <span class="stroke-char">仁</span>
        <span class="stroke-pinyin">Rén</span>
        <span class="stroke-meta">4 strokes</span>
      </div>
      <div class="stroke-svg-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="stroke-char-svg">
          <title>Stroke order for 仁</title>
          <defs>
            <clipPath id="ren-mask-1"><path d="M 255 508 Q 303 569 356 651 Q 387 706 415 731 Q 425 743 421 759 Q 417 774 385 800 Q 354 821 333 821 Q 312 820 321 794 Q 336 758 322 728 Q 277 626 211 532 Q 147 441 60 343 Q 48 331 46 324 Q 42 311 58 314 Q 104 323 226 474 Q 226 475 228 476 L 255 508 Z"></path></clipPath>
            <clipPath id="ren-mask-2"><path d="M 228 476 Q 252 407 255 396 Q 254 395 255 392 Q 255 212 223 91 Q 210 45 245 -7 Q 246 -11 251 -15 Q 270 -33 283 -3 Q 299 40 298 90 Q 302 354 311 413 Q 320 443 308 454 Q 268 500 255 508 C 232 527 218 504 228 476 Z"></path></clipPath>
            <clipPath id="ren-mask-3"><path d="M 479 542 Q 434 533 467 514 Q 516 487 600 507 Q 679 525 762 544 Q 802 554 808 561 Q 818 571 812 581 Q 803 596 767 604 Q 728 610 637 575 Q 510 547 479 542 Z"></path></clipPath>
            <clipPath id="ren-mask-4"><path d="M 359 221 Q 334 220 352 199 Q 368 183 389 177 Q 413 170 431 176 Q 593 215 874 214 Q 890 214 907 213 Q 929 213 935 222 Q 942 235 923 252 Q 863 295 820 288 Q 702 264 359 221 Z"></path></clipPath>
          </defs>
          <g class="stroke-grid">
            <rect x="0" y="0" width="500" height="500" rx="6" class="stroke-grid-bg"></rect>
            <line x1="0" y1="250" x2="500" y2="250" class="stroke-grid-line"></line>
            <line x1="250" y1="0" x2="250" y2="500" class="stroke-grid-line"></line>
          </g>
          <g transform="translate(10, 431.875) scale(0.46875, -0.46875)">
            <!-- Radical (亻: 2 strokes) -->
            <path clip-path="url(#ren-mask-1)" class="stroke-path stroke-radical stroke-s1" d="M 256.5 869.4 L 352 789 L 373 752 L 317 646 L 187 459 L 121 383 L 56 324" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="703.454" stroke-dashoffset="703.454"></path>
            <path clip-path="url(#ren-mask-2)" class="stroke-path stroke-radical stroke-s2" d="M 240.8 599.1 L 258 470 L 280 433 L 282 407 L 274 215 L 258 61 L 263 -7" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="614.543" stroke-dashoffset="614.543"></path>
            <!-- Main Component (二: 2 strokes) -->
            <path clip-path="url(#ren-mask-3)" class="stroke-path stroke-stem stroke-s3" d="M 372.5 556.3 L 491 524 L 539 526 L 744 573 L 799 573" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="436.184" stroke-dashoffset="436.184"></path>
            <path clip-path="url(#ren-mask-4)" class="stroke-path stroke-stem stroke-s4" d="M 256.5 227.3 L 412 200 L 575 226 L 836 252 L 923 229" stroke-width="200" fill="none" stroke-linecap="round" stroke-linejoin="miter" stroke-dasharray="675.22" stroke-dashoffset="675.22"></path>
          </g>
        </svg>
      </div>
    </div>
  </div>

  <div class="stroke-anim-footer">
    <div class="stroke-anim-caption">
      <span><span class="radical-legend"><span class="radical-legend-dot"></span>Red: radical (部首)</span> · via <a href="https://hanzistroke.com" target="_blank" rel="noopener noreferrer" class="stroke-credit-link">hanzistroke.com</a></span>
    </div>
    <div class="stroke-anim-controls">
      <button class="stroke-btn stroke-replay-btn" id="stroke-replay-btn" type="button" title="Replay stroke animation in sync">
        <svg viewBox="0 0 24 24" width="14" height="14" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"></path>
          <path d="M3 3v5h5"></path>
        </svg>
        <span>Replay</span>
      </button>
      <button class="stroke-btn stroke-loop-btn" id="stroke-loop-btn" type="button" title="Toggle automatic loop">
        <span class="loop-dot"></span>
        <span class="loop-text">Loop</span>
      </button>
    </div>
  </div>
</div>
