{{ $src := .Get "src" | default (.Get 0) }}
{{ $title := .Get "title" | default "Video" }}
{{ $caption := .Get "caption" | default (.Get 1) }}

<figure class="fig-bar vid-bar">
  <div class="fig-bar-content">
    <div class="fig-bar-media">
      <video width="100%" controls playsinline preload="metadata">
        <source src="{{ $src }}">
        Your browser does not support the video tag.
      </video>
      {{ if $caption }}
        <figcaption>{{ $caption }}</figcaption>
      {{ end }}
    </div>
  </div>
</figure>
